.page-header {
  height: 80px;
}

.grid {
  margin: 0 !important;
}

.main {
  height: calc(100vh - 80px);
}

.left-pane {
  height: 100%
}

.right-pane {
  height: 100%
}

.list-container {
  height: inherit;
  overflow: auto;
}

.list-container .selected-item {
  background-color: darkgray !important;
}

.list-container .empty-trip-state {
  text-align: center;
  font-size: 20px;
}

.list-container .header {
  margin-top: 12px !important;
  font-size: 1.2em;
}


.list-container .description-item {
  margin-top: 15px;
  overflow: auto;
}

.list-container .description-item:nth-child(2) {
  margin-bottom: 15px;
}

.list-container .description-sub-item1 {
  float: left;
}

.list-container .description-sub-item2 {
  float: right;
}

#map {
  height: 100%
}


